@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="PinkTheme" />



<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar>
        @* <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" /> *@
        PiNkYpeach
        <MudToggleIconButton @bind-Toggled="@_isDarkMode"
                             Icon="@Icons.Material.Filled.DarkMode" Color="@Color.Default"
                             ToggledIcon="@Icons.Material.Filled.WbSunny" ToggledColor="@Color.Default" />
    </MudAppBar>
   
      @* <MudDrawer @bind-Open="@_drawerOpen">
        <MyNavMenu/>
    </MudDrawer> *@
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<PageTitle>PiNkYpeach</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    // bool _drawerOpen = true;

    // void DrawerToggle()
    // {
    //     _drawerOpen = !_drawerOpen;
    // }

    private bool _isDarkMode;

    MudTheme PinkTheme = new MudTheme()
        {
            Palette = new PaletteLight()
            {
                Primary = Colors.Pink.Darken2,
                Secondary = Colors.Pink.Accent4,
                AppbarBackground = Colors.Pink.Darken3,
                Background = Colors.Pink.Lighten4,

                //Define other properties here.
            },
            PaletteDark = new PaletteDark()
            {
                Primary = Colors.Purple.Darken2,
                Secondary = Colors.Purple.Accent4,
                AppbarBackground = Colors.Purple.Darken3,
                Background = Colors.Purple.Lighten4,
                //Define other properties here.
            }

        };
}
